$main-font: Arial, sans-serif;
$global-scale: 62.5%;

//text
$heading-1: 3rem;
$heading-1-weight: bold;
$heading-1-line-height: 3.4rem;

$subtitle-1: 1.6rem;
$subtitle-1-weight: 400;
$subtitle-1-line-height: 1.8rem;

$subtitle-2: 1.6rem;
$subtitle-2-weight: bold;
$subtitle-2-line-height: 1.8rem;

$subtitle-3: 2rem;
$subtitle-3-weight: 400;
$subtitle-3-line-height: 1.8rem;

$body-1: 1.6rem;
$body-1-weight: 400;
$body-1-line-height: 1.6rem;

$caption: 1.4rem;
$caption-weight: 400;
$caption-line-height: 1.6rem;

//colors
$red-button: #F23541;
$hovering-red-button: #CD2C35 ;

$background-dark: #363636;
$background-light: #F8F8F8;

$text-field-dark: #3E3E3E;
$text-field-light: #fff;
$transparency-main-text-dark: rgb(255, 255, 255, 0.7);
$transparency-main-text-light: rgb(0, 0, 0, 0.5);
$black-text: #000;

$border-dark: rgb(255, 255, 255, 0.2);
$border-light: rgb(0, 0, 0, 0.28);

$loading-bar: #DBDCDD;


//svg
